# Ignorar entorno virtual
venv/

# Ignorar archivos compilados de Python
__pycache__/
*.pyc

# Ignorar archivos sensibles
.env

# Ignorar logs
*.log

# Ignorar configuraciones de VSCode (opcional)
.vscode/
.env